*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#container .proj-panel{
    height: 100%;
    width: 25vw;
    background-color: #0284c7;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 1rem;
}

.proj-header{
    font-size: 2em;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid #fffd71;
    padding-bottom: 6px;
}

.proj-container{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #00000048;
}
.proj-container:hover{
    cursor: pointer;
    border: 2px solid #ffffff;
}


.add-proj-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}
.add-box{
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.project-link{
    cursor: pointer;
    font-size: 2em;
    font-weight: 800;
    color: #ffffff;
}
.main-panel{
    height: 100%;
    width: 75%;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

.proj-info-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(65, 60, 60);
    
}
.proj-info-name{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 4px;
}
.proj-info-description{
    font-size: 1.2em;
    font-weight: 200;
    padding-left: 5px;
}

.proj-icon-container{
    display: flex;
    margin-right: 10px;
    align-items: center;
    
}
.icon-box{
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    
}
.icon-box:hover {
    width: 30px;
    height: 30px;
}
.proj-edit-icon, .proj-trash-icon{
    width: 25px;
    height: 25px;
    margin: 10px;
}
.proj-info-icon:hover{
    opacity: 1;
}
.task{
    border: 2px solid rgb(65, 60, 60);
    border-radius: 5px;
    margin-top: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.onCheckbox{
    opacity: 0.5;
    text-decoration: line-through;
}

.task-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkmark-proj{
    border: 2px solid rgb(65, 60, 60);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.task-name{
    margin-left: 12px;
    font-weight: 700;
}
#due-date{
    margin-left: 25px;
    font-size: 13px;
    
}
#edit-task{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 12px;
    background-image: url(/src/assests/imgs/pencil-outline.svg);
    border: none;
}
#delete-task{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 12px;
    background-image: url(/src/assests/imgs/trash-can-outline.svg);
    border: none;
}

.add-task-container{
    display: flex;
    margin-left: auto;
    margin-top: 8px;
    background-color: rgba(8, 194, 8, 0.479);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    
}
.add-task-container:hover{
    background-color: rgb(8, 194, 8)
}

#add-proj-container , #add-task-forum-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
}
.forum-container{
    width: 200px;
    border: 8px;
    box-shadow: 4px 4px 5px 0px #000000af;
    padding: 2vh 2vw
}

.forum-container h2{
    text-align: center;
    width: 100%;
    font-size: 1rem;
    border-bottom: 2px solid #000000;
}
.input-content{
    display: flex;
    flex-direction: column;
}
.forum-container input{
    width: 100%;
    padding-top: 1vh;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid #a1a1a1;
    resize: none;
}
.forum-bttns{
    display: flex;
    gap: 1rem;
    padding-top: 1vh;
}
#add-proj-forum-bttn, #add-task-forum-bttn{
    background: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
}
#close-add-proj-forum-bttn, #close-add-task-forum-bttn{
    background: red;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 800;
    padding: 0 15px;
    border: none;
    color: #fff;

}


