*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#container .proj-panel{
    height: 100%;
    width: 25vw;
    background-color: #0284c7;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 1rem;
}

.proj-header{
    font-size: 2em;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid #fffd71;
    padding-bottom: 6px;
}

.project{
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #00000048;
}
.project:hover{
    cursor: pointer;
    border: 2px solid #ffffff;
}

.add-proj-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}
.add-box{
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.project-link{
    cursor: pointer;
    font-size: 2em;
    font-weight: 800;
    color: #ffffff;
}
.project-link:hover{
    font-size: 3em;
}

.main-panel{
    height: 100%;
    width: 75%;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* img{
    width: 30px
} */

.proj-info-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(65, 60, 60)
    /* position: relative; */
}
.proj-info-name{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 4px;
}
.proj-info-description{
    font-size: 1.2em;
    font-weight: 200;
    padding-left: 5px;
}

.proj-icon-container{
    display: flex;
    margin-right: 10px;
    align-items: center;
    /* position: relative; */
}
.icon-box{
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
    /* position: absolute; */
    /* transition: 0.4s ease-in-out; */
}
.icon-box:hover {
    width: 30px;
    height: 30px;
}
.proj-info-icon{
    width: 25px;
    height: 25px;
    margin: 10px;
}
.proj-info-icon:hover{
    opacity: 1;
}
